<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{site.baseurl}}">Evos Solutions</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        {% for item in site.data.navigation %}

        <a class="nav-link" href="{{ site.baseurl }}{{ item.link }}" {% if page.url == item.link %}class="active"{% endif %}>
          {{ item.name }}
        </a>
      </li>
      {% endfor %}
    </ul>

  </div>
</nav>
